

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

body {
    font-family: 'Roboto', serif;	

}

/* ===== Header Specific ========*/
.headerSearch {

padding-top: 7px;

}


/* =====Footer specific ==========*/
.social {
	padding-bottom:10px;
}
















